USE [BloodManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllRequests]    Script Date: 2/7/2026 2:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[sp_GetAllRequests]
AS
BEGIN
    SELECT 
        r.RequestID, 
        h.HospitalName, 
        bg.GroupName, -- Këtu ishte gabimi, e ndryshuam në GroupName
        r.RequestedUnits, 
        r.Status, 
        r.RequestDate
    FROM BloodRequests r
    JOIN Hospitals h ON r.HospitalID = h.HospitalID
    JOIN BloodGroups bg ON r.BloodGroupID = bg.BloodGroupID 
    ORDER BY r.RequestDate DESC;
END
