USE [BloodManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterDonor]    Script Date: 2/7/2026 2:36:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[sp_RegisterDonor]
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Gender NVARCHAR(10),
    @BirthDate DATE,
    @BloodGroupID INT,
    @Email NVARCHAR(100),
    @Phone NVARCHAR(20),
    @Address NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    -- Kontrollojme nese emaili ekziston njehere per te shmangur error-in UNIQUE
    IF EXISTS (SELECT 1 FROM Donors WHERE Email = @Email)
    BEGIN
        RAISERROR('Ky email ekziston nje here ne sistem!', 16, 1);
        RETURN;
    END

    INSERT INTO Donors (FirstName, LastName, Gender, DateOfBirth, BloodGroupID, Email, PhoneNumber, [Address])
    VALUES (@FirstName, @LastName, @Gender, @BirthDate, @BloodGroupID, @Email, @Phone, @Address);
END
