USE [BloodManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateBloodRequest]    Script Date: 2/7/2026 2:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. STORED PROCEDURES (Një nga një me komandën GO)

ALTER PROCEDURE [dbo].[sp_CreateBloodRequest]
    @HospitalID INT, 
    @BloodGroupID INT, 
    @Units INT, 
    @Urgency NVARCHAR(20)
AS 
BEGIN
    INSERT INTO BloodRequests (HospitalID, BloodGroupID, RequestedUnits, UrgencyLevel)
    VALUES (@HospitalID, @BloodGroupID, @Units, @Urgency);
END
