USE [BloodManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateHospital]    Script Date: 2/7/2026 2:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_CreateHospital] 
    @Name NVARCHAR(100), 
    @Phone VARCHAR(20), 
    @Loc NVARCHAR(255), 
    @Email VARCHAR(100)
AS 
BEGIN 
    INSERT INTO Hospitals (HospitalName, ContactNumber, [Location], Email) 
    VALUES (@Name, @Phone, @Loc, @Email); 
END
