USE [BloodManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDonor]    Script Date: 2/7/2026 2:35:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Procedura për të fshirë një Dhurues (Delete)
ALTER   PROCEDURE [dbo].[sp_DeleteDonor]
    @DonorID INT
AS
BEGIN
    DELETE FROM Donors WHERE DonorID = @DonorID;
END
