USE [BloodManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddToStock]    Script Date: 2/7/2026 2:35:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_AddToStock]
    @BloodGroupID INT, 
    @DonationID INT, 
    @DaysUntilExpiry INT
AS 
BEGIN
    INSERT INTO BloodStock (BloodGroupID, DonationID, ExpiryDate)
    VALUES (@BloodGroupID, @DonationID, DATEADD(day, @DaysUntilExpiry, GETDATE()));
END
