USE [BloodManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddDonation]    Script Date: 2/7/2026 2:35:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[sp_AddDonation]
    @DonorID INT,
    @DonationDate DATE,
    @ExpiryDate DATE
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        -- 1. Gjejmë BloodGroupID direkt nga tabela Donors
        DECLARE @BloodGroupID INT;
        SELECT @BloodGroupID = BloodGroupID FROM Donors WHERE DonorID = @DonorID;

        -- 2. Shtohet te tabela Donations (me emrat e tu: VolumeML, DonationDate)
        INSERT INTO Donations (DonorID, DonationDate, VolumeML, BloodPressure)
        VALUES (@DonorID, @DonationDate, 450, '120/80'); -- 450ml dhe një presion default

        DECLARE @NewDonationID INT = SCOPE_IDENTITY();

        -- 3. Shtohet te BloodStock (pasi i kemi kolonat: BloodGroupID, DonationID, ExpiryDate, Status)
        INSERT INTO BloodStock (BloodGroupID, DonationID, ExpiryDate, [Status])
        VALUES (@BloodGroupID, @NewDonationID, @ExpiryDate, 'Available');

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
