USE [BloodManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateDonor]    Script Date: 2/7/2026 2:35:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Përditësojmë Procedurën që të pranojë edhe ID-në e Userit
ALTER PROCEDURE [dbo].[sp_CreateDonor]
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Gender NVARCHAR(10),
    @DateOfBirth DATE,
    @BloodGroupID INT,
    @Email NVARCHAR(100),
    @PhoneNumber NVARCHAR(20),
    @Address NVARCHAR(MAX),
    @CreatedBy INT -- Parametri i ri
AS
BEGIN
    INSERT INTO Donors (FirstName, LastName, Gender, DateOfBirth, BloodGroupID, Email, PhoneNumber, [Address], CreatedBy)
    VALUES (@FirstName, @LastName, @Gender, @DateOfBirth, @BloodGroupID, @Email, @PhoneNumber, @Address, @CreatedBy);
END
