USE [BloodManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteUser]    Script Date: 2/7/2026 2:36:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[sp_DeleteUser]
    @UserID INT
AS
BEGIN
    -- Nuk lejojmë që Admini të fshijë veten gabimisht (opsionale por e sigurt)
    DELETE FROM AppUsers WHERE UserID = @UserID;
END
