USE [BloodManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllHospitals]    Script Date: 2/7/2026 2:36:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_GetAllHospitals] 
AS 
BEGIN 
    SELECT * FROM Hospitals; 
END
