USE [BloodManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_AcceptBloodRequest]    Script Date: 2/7/2026 2:34:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[sp_AcceptBloodRequest]
    @ReqID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @G_ID INT;

    -- 1. Marrim grupin e gjakut (Sigurohemi që po e merr vlerën)
    SELECT @G_ID = BloodGroupID 
    FROM BloodRequests 
    WHERE RequestID = @ReqID;

    -- 2. Kontrolli: Nëse kërkesa nuk ekziston, ndalo procedurën
    IF @G_ID IS NULL
    BEGIN
        PRINT 'Gabim: Nuk u gjet asnjë kërkesë me këtë ID.';
        RETURN;
    END

    -- 3. Update statusin e kërkesës
    UPDATE BloodRequests 
    SET Status = 'COMPLETED' 
    WHERE RequestID = @ReqID;

    -- 4. SHTO NE STOK (Përdorim emrat e saktë të kolonave që pamë)
    INSERT INTO BloodStock (BloodGroupID, DonationID, ExpiryDate, Status)
    VALUES (@G_ID, NULL, DATEADD(day, 35, GETDATE()), 'Available');

    -- 5. KONTROLLI FINAL: Shiko nëse u shtua rreshti
    IF @@ROWCOUNT > 0
        PRINT 'Sukses: Gjaku u shtua në stok për grupin: ' + CAST(@G_ID AS VARCHAR);
    ELSE
        PRINT 'Gabim: Rreshti nuk u shtua në BloodStock.';
END
