USE [BloodManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllDonors]    Script Date: 2/7/2026 2:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. Procedura për të marrë të gjithë Dhuruesit (Get All)
ALTER   PROCEDURE [dbo].[sp_GetAllDonors]
AS
BEGIN
    SELECT * FROM Donors;
END
