USE [BloodManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetExpiringStock]    Script Date: 2/7/2026 2:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_GetExpiringStock]
AS 
BEGIN
    SELECT s.StockID, bg.GroupName, s.ExpiryDate, s.[Status]
    FROM BloodStock s
    JOIN BloodGroups bg ON s.BloodGroupID = bg.BloodGroupID
    WHERE s.ExpiryDate <= DATEADD(day, 5, GETDATE()) AND s.[Status] = 'Available';
END
