USE [BloodManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDonor]    Script Date: 2/7/2026 2:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[sp_UpdateDonor]
    @DonorID INT,
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Phone NVARCHAR(20)
AS
BEGIN
    UPDATE Donors 
    SET FirstName = @FirstName, 
        LastName = @LastName, 
        PhoneNumber = @Phone 
    WHERE DonorID = @DonorID;
END
