USE [BloodManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterHospital]    Script Date: 2/7/2026 2:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_RegisterHospital]
    @HospitalName NVARCHAR(100),
    @ContactNumber NVARCHAR(20),
    @Location NVARCHAR(255)
AS
BEGIN
    INSERT INTO Hospitals (HospitalName, ContactNumber, Location)
    VALUES (@HospitalName, @ContactNumber, @Location);
END
