USE [BloodManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddBloodRequest]    Script Date: 2/7/2026 2:34:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Për siguri, po e rregullojmë procedurën që të jetë shumë e thjeshtë
ALTER   PROCEDURE [dbo].[sp_AddBloodRequest]
    @HospitalID INT,
    @BloodGroupID INT,
    @Units INT
AS
BEGIN
    INSERT INTO BloodRequests (HospitalID, BloodGroupID, RequestedUnits, RequestDate, Status, UrgencyLevel)
    VALUES (@HospitalID, @BloodGroupID, @Units, GETDATE(), 'PENDING', 'Normal');
END
