USE [BloodManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBloodStock]    Script Date: 2/7/2026 2:36:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Procedura për të marrë Stokun (Get All Stock)
ALTER   PROCEDURE [dbo].[sp_GetBloodStock]
AS
BEGIN
    SELECT * FROM vw_BloodStockStatus;
END
